@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
    border-color: #eee;
    margin: auto;
    padding-left: 430px;
    padding-right: 500px;
    padding-top: 250px;
    padding-bottom: 250px;
    
}
header {
    font-family: Abril Fatface;
    text-align: center;
}
.date {
    text-align: left;
}
h2, h4 {
    font-family: Roboto Slab;
}
.newspaper-container {
    background-color: white;
    box-shadow: 5px 7px lightgray;
    width: 1000px;
    border-radius: 5px;
    padding: 24px;
}
h5 {
    color: #dd3232;
}
nav {
    background-color: white;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    position: sticky;
    top: 0px;
    padding-left: 90px;
}
nav a {
    color: #777;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    
}
main img {
    width: 100%;
    height: auto;
}
.more-articles p {
    width: 450px;
}
section {
    width: 450px;
    padding-left: 35px;
}
.more-articles img {
    width: 450px;
}
.more-articles section {
    display: inline-block;
}
.other-articles p {
    width: 450px;
}
.other-articles section{
    display: inline-block;
}
#newspaper {
    width: 450px;
    height: 253.41px;
}
#rasta {
    width: 450px;
    height: auto;
    filter: grayscale(100%);
    transition: 2s;
}
#rasta:hover {
    filter: none;
}
footer {
    text-align: center;
}
footer a {
    color: #777;
    text-decoration: none;
}